/*Estilos Generales*/
*{
    margin: 0;
}
body{
    background-color: #ffffff;
    width: 100%;
}
header{
    background-color: #000000;
    height: 15%;
    width: 100%;
}
footer{
    background-color: #c0c0c0;
    height: 10%;
}
p{
    font-family: 'Assistant', sans-serif;
}

/*Fuentes*/
#fuente-header{
    font-family: 'Signika', sans-serif;
    color: #ffffff;
}
#fuente-titulo{
    font-family: 'Josefin Sans', sans-serif;
}
#fuente-footer{
    font-family: 'Signika', sans-serif;
    color: #000000;
    text-align: justify;
}
#fuente-login{
    font-family: 'Quicksand', sans-serif;

}
#color-nav{
    background-color: #ffffff;
}
#header2{
    background-color: #cc9656;
    color : #ffffff;
    font-family: 'Josefin Sans', sans-serif;
}
/*Clases*/

.size-img{
    width: 90%;
}
.size-br{
    height: 4px;
    
    background-color: #000000;
}
.size-ico{
    font-size: 35px;
    font-weight: normal;
}
.texto-negro{
    color: #000000;
}
.right{
    float: right;
}
.color-footer{
    background-color: #176786;
}
.ancho-total{
    width: 100%;
}
.mensaje-index{
    width: 40%;
}
.size-mensaje{
    font-size: 20px;
    font-weight: bold;
}
.justificar{
    text-align: justify;
    
}
.formato-img-promo{
    width: 100%;
}
.estilo-promocion{
    background-color: #176786;
    color: #e2e2e2;
    padding: 4px;
}
.organizador-card{
    display: flex;
    justify-content: center;
}
.organizador-card img{
    max-width: 100%;
    max-height: 100%;
}
.boton-carrusel{
    background-color: #868686;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.color-boton{
    background-color: #176786;
    color: #ffffff;
    border-radius: 5px;
}
.color-boton:hover{
    background-color: #12536d;
}
.animacion:hover{
    color: #e9e8e8;
    cursor: pointer;
}
.color-error{
    color: #ff0000;
    font-size: 13px;
}
/*Estilos pagina Carrito*/
.altura-card{
    height: fit-content;
}
.cupon{
    color: #12536d;
    font-style: italic;
    font-weight: bold;
}

/*Estilos página Login*/
#estilo-body {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
#fondo-body {
    height: 100vh;
    background-image: url(../Imagenes/register.png);
    background-size: cover;
    background-position: center;
}

.login {
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
}

.login h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

.login form {
    font-size: 20px;
}

.login form .form-group {
    margin-bottom: 12px;
}

.login form input[type="submit"] {
    font-size: 20px;
    margin-top: 15px;
}

.menu{
    width: 600px;
    height: min-content;
    padding: 20px;
    border-radius: 4px;
    
    background: #d9d9d9;
}
.menu button{
    background-color: #cc9656;
    border-color: #000000;
    color: #ffffff;
    font-weight: bold;
    width: 200px;
    height: 50px;
}
.menu button:hover{
    background-color: #b47d38;
    color: #ffffff;
    border-color: #000000;
}

.formato-lista{
    list-style: none;
}
.margen-card{
    margin-top: auto;
}
#boton-rol{
    background-color: #cc9656;
    width: 170px;
    color: #000000;
    
}
#boton-del{
    background-color: #8f2121;
    width: 170px;
    color: #000000;
    
}



